# Builds
node_modules/
.dist/
dist/
docs/assets/index-*.js

# Vite/TypeScript
.vite/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
